@model ASP_MVC_UI.Customer

@{
    ViewBag.Title = "CustomerRegister";
}

<style>
    h2 {
        color: white;
        text-underline-offset: auto;
    }

    h4 {
        border-radius: 6px;
        margin: 0;
        padding: 10px;
        font-weight: bold;
        color: Tomato;
    }

    body {
        background-image: url('/Pictures/HomePageBgImg.jpg');
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
    }

    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-horizontal {
        font-size: 12px;
        font-weight: bold;
        width: 500px;
        background-color: white;
        color: black;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            display: inline-block;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

    .Button {
        text-align: center;
    }

    .button1 {
        padding: 11px 20px 11px 20px;
        border: none;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: 20px;
        background-color: orangered;
        border-radius: 3px 4px;
        color: white;
        cursor: pointer;
    }

    .button2 {
        padding: 12px 15px;
        border: none;
        margin-top: 4px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 20px;
        background-color: black;
        border-radius: 3px 4px;
        color: white;
    }

    .btn-tomato {
        background-color: tomato;
        border-color: tomato;
    }

        .btn-tomato:hover {
            background-color: tomato;
            border-color: tomato;
        }


    .back-to-home-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: black;
    }

    .back-to-home-button {
        padding: 8px 10px;
        border: none;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 15px;
        background-color: black;
        border-radius: 3px 4px;
        color: white;
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
    }

        .back-to-home-button:hover {
            background-color: black;
        }
</style>

<div class="center-container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Customer</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label for="CustEmail">Enter Your Email</label>
                @Html.EditorFor(model => model.CustEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g., youremail@gmail.com" } })
                @Html.ValidationMessageFor(model => model.CustEmail, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="CustPhone">Enter Your Mobile NO</label>
                @Html.EditorFor(model => model.CustPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g., 8878457844" } })
                @Html.ValidationMessageFor(model => model.CustPhone, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="CustFName">Enter Your FirstName</label>
                @Html.EditorFor(model => model.CustFName, new { htmlAttributes = new { @class = "form-control", placeholder = "Alex" } })
                @Html.ValidationMessageFor(model => model.CustFName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="CustLName">Enter Your LastName</label>
                @Html.EditorFor(model => model.CustLName, new { htmlAttributes = new { @class = "form-control", placeholder = "Stark" } })
                @Html.ValidationMessageFor(model => model.CustLName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="CustPassword">Enter Your Password</label>
                @Html.EditorFor(model => model.CustPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "eg -> AlexSt@rk123" } })
                @Html.ValidationMessageFor(model => model.CustPassword, "", new { @class = "text-danger" })
            </div>

            <div class="button1">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to Home", "Index", null, new { @class = "back-to-home-button" })
</div>
