@model ASP_MVC_UI.Customer

@{
    ViewBag.Title = "Reset Password";
}

<style>
    h2 {
        color: tomato;
        text-underline-offset: auto;
    }

    h4 {
        border-radius: 6px;
        margin: 0;
        padding: 10px;
        font-weight: bold;
        color: tomato;
    }

    body {
        background-image: url('/Pictures/AdminLoginBgImg1.jpg');
        background-size: cover;
        background-position: center;
    }

    .form-horizontal {
        font-size: 12px;
        width: 600px;
        height: 600px;
        background-color: white;
        color: black;
        box-sizing: border-box;
        border-radius: 10px;
        font-weight: bold;
        margin: 0 auto; /* Center the form horizontally */
        margin-top: 50px; /* Add a margin from the top */
        padding: 20px; /* Add some padding */
    }

    .btn-primary {
        background-color: tomato;
        color: white;
        border: none;
        border-radius: 3px 4px;
        padding: 8px 10px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
    }

    .text-right {
        text-align: right;
    }
</style>

<h2>Reset Password</h2>

@using (Html.BeginForm("UpdateResetPassword", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12 text-center">
            <h4>@Model.CustFName @Model.CustLName</h4>
            <hr />
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.CustEmail, "Your Email :", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 text-center">
            @Html.DisplayFor(model => model.CustEmail)
            @Html.HiddenFor(model => model.CustEmail)
        </div>
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.CustPhone, "Your Phone NO :", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 text-center">
            @Html.DisplayFor(model => model.CustPhone)
            @Html.HiddenFor(model => model.CustPhone)
        </div>
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.CustFName, "Your FirstName:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 text-center">
            @Html.DisplayFor(model => model.CustFName)
            @Html.HiddenFor(model => model.CustFName)
        </div>
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.CustLName, "Your LastNAme:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 text-center">
            @Html.DisplayFor(model => model.CustLName)
            @Html.HiddenFor(model => model.CustLName)
        </div>
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.CustPassword, "Updated your Password :", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 text-center">
            @Html.EditorFor(model => model.CustPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CustPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-center">
            <input type="submit" value="Update Password" class="btn btn-primary" />
        </div>
    </div>
}

<div class="text-right">
    @Html.ActionLink("Back to Home", "Index")
</div>
