@model IEnumerable<ASP_MVC_UI.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<br />
<br />

<style>
    h2 {
        color: tomato;
    }

    p {
        font-size: 18px;
        color: black;
    }

    body {
        background-image: url('/Pictures/AdminLoginBgImg1.jpg');
        background-size: cover;
        background-position: center;
    }

    .btn-primary {
        background-color: tomato;
        border-color: tomato;
    }

        .btn-primary:hover {
            background-color: tomato;
            border-color: tomato;
        }

    /* Add shadow effect on hover for table rows */
    table tr:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .btn-txt {
        color: #fff;
        background-color: tomato;
        border-color: tomato;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .btn-txt:hover {
            background-color: tomato;
            border-color: #d58512;
        }

    .btn-warning {
        color: #fff;
        background-color: tomato;
        border-color: tomato;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .btn-warning:hover {
            background-color: tomato;
            border-color: #d58512;
        }
</style>


@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning" })

<table class="table">

    <th>
        @Html.DisplayNameFor(model => model.CustEmail)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CustPhone)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CustFName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CustLName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CustPassword)
    </th>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustPassword)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustId }, new { @class = "btn btn-txt" })
                @Html.ActionLink("Details", "Details", new { id = item.CustId }, new { @class = "btn btn-txt" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CustId }, new { @class = "btn btn-txt" })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Admin Index", "Index", "AdminModule", null, new { @class = "btn btn-warning" })
</div>
